.container-log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--global-background-color);
}
h1,
p {
  color: var(--global-font-color);
}
.container-form {
  width: 25rem;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}
.form-group > label {
  margin-bottom: 15px;
  display: block;
  color: var(--global-input-color);
  margin-left: 10px;
}

.input-control {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 400;
  color: var(--global-font-color);
  background-color: var(--global-darkest-background-color);
  background-clip: padding-box;
  border: 2px solid #9b9b9b;
  border-radius: 10px;
  transition: 0.15s ease-in-out;
}

.input-control:focus {
  border-color: var(--global-highlight-green-color);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(51, 185, 58, 0.25);
}

.btn {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  color: var(--global-background-color);
  background-color: var(--global-dark-green-color);
  background-clip: padding-box;
  border: 1px transparent;
  border-radius: var(--global-radius);
  transition: 0.35s ease-in-out;
}

.btn:hover {
  background-color: var(--global-highlight-green-color);
  color: var(--global-background-color);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(51, 185, 58, 0.25);
}

/* link direction */
.content-link {
  display: flex;
  width: 25rem;
  justify-content: space-between;
}

.p-link {
  color: var(--global-font-color);
  font-size: 12px;
  text-decoration: none;
}

.a-link {
  text-decoration: none;
  color: var(--global-link-color);
}
.a-link:hover {
  color: var(--global-link-color);
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .container-form {
    width: 80%;
  }
  .content-link {
    width: 80%;
  }
}
