.container-log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.row {
  display: flex;
}
.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.login-form {
  margin: 50px auto;
  width: 359px;
}
.login-form > form {
  width: 100%;
}

.form-group {
  margin-bottom: 15px;
}
.form-group > label {
  margin-bottom: 15px;
  display: block;
  color: var(--color-text);
  margin-left: 10px;
}

.input-control {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-bg-card);
  background-color: #191b1e;
  background-clip: padding-box;
  border: 2px solid #9b9b9b;
  border-radius: 10px;
  transition: 0.15s ease-in-out;
}

.input-control:focus {
  color: var(--color-bg-card);
  border-color: var(--color-btn-hover);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(51, 185, 58, 0.25);
}

.btn {
  width: 100%;
  padding: 10px 12px;
  margin-button: 15px;
  font-size: 16px;
  font-weight: 500;
  color: #d1d1d1;
  background-color: var(--color-btn);
  background-clip: padding-box;
  border: 1px transparent;
  border-radius: 10px;
  transition: 0.35s ease-in-out;
}

.btn:hover {
  background-color: var(--color-btn-hover);
  color: var(--color-bg-dark);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(51, 185, 58, 0.25);
}

/* link direction */
.content-link {
  display: flex;
  justify-content: space-between;
}

.p-link {
  color: var(--color-primary);
  font-size: 12px;
  text-decoration: none;
}

.a-link {
  text-decoration: none;
  color: var(--color-link);
}
.a-link:hover {
  text-decoration: underline;
}
