:root {
  --global-background-color: #22272e;
  --global-darkest-background-color: #191b1e;
  --global-font-color: #d1d1d1;
  --global-input-color: #9b9b9b;
  --global-highlight-green-color: #33b93a;
  --global-dark-green-color: #307434;
  --global-link-color: #539bf5;
  --global-alert-color: #ca0d0d;

  --global-border: 1px solid var(--global-input-color);
  --global-radius: 10px;

  --phone-width: 359px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-background-color);
  color: var(--global-font-color);
}
